<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style >
        * {
            margin: 0;
            padding: 0;
        }

        .custom-message {
            flex: 1;
            text-align: center;
            word-break: break-word;
            text-align: justify;
        }

        .box {
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 100%;
            border-radius: 8px;
            /* background-color: blue; */
        }

        .title {
            /* background-color: purple; */
            padding: 10pt;
            border-radius: 8px;
            max-height: fit-content;
        }

        .text {
            /* background-color: red; */
            padding: 10pt;
            border-radius: 8px;
        }
    </style>
    <div class="box">
        <p class="custom-message text">@Message</p>
    </div>
</body>
</html>


@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string Title { get; set; }
}
